body {
    font-family: 'Staatliches', cursive;
    margin: 0;
    background-image: url(pics/623353.gif);
}

header {
    text-align: center;
    font-size: 40px;
}

header h1 {
    margin: 20px 0;
    text-shadow: 4px 4px 0px #fd86b2;
}

/*This holds everything other than background image*/
.container {
    max-width: 850px;
    margin: 20px auto;
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
    background-color: #ffd6e0ed;
    padding-bottom: 50px;
    border: solid 10px #fbbaca;
}

/*----------------------------Starting screen styles------------------*/
.starting-screen {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: all 1s cubic-bezier(0.42, 0, 0.13, 1.55);
}

/*User can select single player or two players*/
.player-count-container {
    display: grid;
    grid-template-columns: 100px 30px 210px;
    grid-template-rows: 50px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 70%;
    margin: auto;
    justify-content: space-around;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}


.div6,
.div4 {
    transition: all .3s cubic-bezier(0.42, 0, 0.13, 1.55);
}

.div6:hover,
.div4:hover {
    transform: scale(1.1);
}

.player-count-container p {
    font-size: 20px;
    margin-top: 40px;
}

.icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: #b6cdff;
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
}

.icon img {
    width: 80px;
    height: 80px;
}




/*----------------Character selection for two players playing--------------*/

.two-players-container {
    text-align: center;
    display: none;
}

.players-grid-container {
    display: grid;
    width: 99%;
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: 280px;
    justify-content: space-around;
}

.character2-container {
    display: grid;
    grid-template-columns: 220px;
    grid-template-rows: 50px 210px;
    grid-row-gap: 10px;
}

.player1-header {
    grid-area: 1 / 1 / 2 / 2;
}

.mark-grid-container {
    display: grid;
    width: 99%;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 110px;
    justify-content: space-around;
    margin-bottom: 50px;
}

#player1,
#player2 {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.mark2-container {
    display: grid;
    grid-template-columns: 100px 30px 100px;
    grid-template-rows: repeat(1, 100px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: center;
    font-size: 80px;
}

/*The 'or' between markers*/
.mark2-container p {
    font-size: 15px;
}




/*------------Characters if there is single player playing-------------------*/
.single-player-container {
    text-align: center;
    display: none;
}

.single-player-container h2 {
    margin-top: 50px;
}

.character-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(1, 100px);
    grid-column-gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
    height: 150px;
}

/*these apply also for the two player character container*/
.character {
    transition: all .3s cubic-bezier(0.42, 0, 0.13, 1.55);
    background-color: #ffafcc;
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
}

.character img:hover,
.mark:hover {
    background-color: #a099f8;
}

.character img {
    width: 75px;
    height: 75px;
    padding: 13px;
    transition: all .3s ease-in-out;
}

.mark-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(1, 100px);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.mark {
    width: 100px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    background-color: #e4c1f9;
    transition: all .3s cubic-bezier(0.42, 0, 0.13, 1.55);
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
}

.start-game-btn {
    margin: 0 auto;
    font-family: 'Staatliches', cursive;
    background-color: #a5a5a52c;
    color: rgb(141, 141, 141);
    width: 120px;
    height: 50px;
    font-size: 20px;
    border: none;
    box-shadow: 5px 5px 5px 0px rgba(160, 160, 160, 0.575);
    transition: all .4s ease-in-out;
    display: none;
}


/*-----------------------Game board--------------------------------------*/
.game-container {
    margin: auto;
    margin-top: 30px;
    max-width: 800px;
    display: none;
}

.player-container {
    max-width: 700px;
    position: absolute;
    left: 0;
    right: 0;
    top: 320px;
    margin-left: auto;
    margin-right: auto;
}

.players-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    transition: all .3s cubic-bezier(0.42, 0, 0.13, 1.55);
    background-color: #b6cdff;
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
    z-index: 1;
}

.players-icon p {
    margin-top: 5px;
}

.players-icon img {
    width: 75px;
    height: 75px;
    padding: 10px;
}

.players-icon:hover {
    animation: rotation 0.2s 0.1s linear;
}

#player2-icon {
    position: absolute;
    right: 0px;
}

.message-container {
    margin: auto;
    text-align: center;
    width: 250px;
    font-size: 2em;
    background-color: #fce9ff;
    transition: all .4s ease-in-out;
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
}

.message-container p {
    padding: 10px;
    margin: 10px auto;
}

/*In the message container, when game over message and winner message is shown*/
#smaller-txt {
    font-size: 20px;
}

@keyframes rotation {
    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.gameboard {
    font-family: 'Montserrat', sans-serif;
    margin: 50px auto;
    margin-bottom: 70px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 140px);
}

/*borders for gameboard*/
.b {
    border-bottom: 2px solid black;
}

.r {
    border-right: 2px solid black;
}

.game-cell {
    text-align: center;
    font-size: 110px;
    text-shadow: 3px 1px 3px rgba(150, 150, 150, 0.65);

}



.button-container {
    text-align: center;
}

.game-button {
    font-family: 'Staatliches', cursive;
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: none;
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
    transition: all .3s cubic-bezier(0.42, 0, 0.13, 1.55);
    display: none;
}

#new-round {
    margin-right: 50px;
    background-color: #84dcc6;
}

#reset {
    margin-left: 30px;
    background-color: #a099f8;
}

#new-round:hover {
    transform: scale(1.1);
    background-color: #a7e9d8;
}

#reset:hover {
    transform: scale(1.1);
    background-color: #bcb8f8;
}





