body {
    font-family: 'Staatliches', cursive;
    margin: 0;
}

header {
    text-align: center;
    font-size: 40px;
}

header h1 {
    margin: 20px 0;
}

.content-container {
    margin: 50px auto;
    max-width: 800px;
}

.player-container {
    display: grid;
    max-width: 700px;
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 60px);
    grid-template-rows: repeat(1, 60px);
    justify-content: space-between;
}

.player {
    text-align: center;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.message-container {
    margin: auto;
    border: 1px solid black;
    text-align: center;
    width: 250px;
    height: 150px;
    font-size: 2em;
}

.button-container {
    margin-top: 20px;
}

.new-game-btn {
    margin: 0 auto;
    font-family: 'Staatliches', cursive;
    background-color: #90e0ef;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border: none;
    box-shadow: 5px 5px 16px -6px #62a9f0;
    display: none;
}

.new-game-btn:hover {
    box-shadow: 5px 5px 5px 1px #7eadd8;
}


.gameboard {
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    height: fit-content;
    margin: 50px auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.b {
    border-bottom: 1px solid black;
}

.r {
    border-right: 1px solid black;
}

.game-cell {
    text-align: center;
    font-size: 110px;
}