/*----------------Character selection for two players playing--------------*/

.two-players-container {
    text-align: center;
    display: none;
}

.players-grid-container {
    display: grid;
    width: 99%;
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: 280px;
    justify-content: space-around;
}

.character2-container {
    display: grid;
    grid-template-columns: 220px;
    grid-template-rows: 50px 210px;
    grid-row-gap: 10px;
}

.player1-header {
    grid-area: 1 / 1 / 2 / 2;
}

.mark-grid-container {
    display: grid;
    width: 99%;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 110px;
    justify-content: space-around;
    margin-bottom: 50px;
}

#player1,
#player2 {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.mark2-container {
    display: grid;
    grid-template-columns: 100px 30px 100px;
    grid-template-rows: repeat(1, 100px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: center;
    font-size: 80px;
}

/*The 'or' between markers*/
.mark2-container p {
    font-size: 15px;
}




/*------------Characters if there is single player playing-------------------*/
.single-player-container {
    text-align: center;
    display: none;
}

.single-player-container h2 {
    margin-top: 50px;
}

.character-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(1, 100px);
    grid-column-gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
    height: 150px;
}

/*these apply also for the two player character container*/
.character {
    transition: all .3s cubic-bezier(0.42, 0, 0.13, 1.55);
    background-color: #ffafcc;
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
}

.character img:hover,
.mark:hover {
    background-color: #a099f8;
}

.character img {
    width: 75px;
    height: 75px;
    padding: 13px;
    transition: all .3s ease-in-out;
}

.mark-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(1, 100px);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.mark {
    width: 100px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    background-color: #e4c1f9;
    transition: all .3s cubic-bezier(0.42, 0, 0.13, 1.55);
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
}

.start-game-btn {
    margin: 0 auto;
    font-family: 'Staatliches', cursive;
    background-color: #a5a5a52c;
    color: rgb(141, 141, 141);
    width: 120px;
    height: 50px;
    font-size: 20px;
    border: none;
    box-shadow: 5px 5px 5px 0px rgba(160, 160, 160, 0.575);
    transition: all .4s ease-in-out;
    display: none;
}
