/*-----------------------Game board--------------------------------------*/
.game-container {
    margin: auto;
    margin-top: 30px;
    max-width: 800px;
    display: none;
}

.player-container {
    max-width: 700px;
    position: absolute;
    left: 0;
    right: 0;
    top: 320px;
    margin-left: auto;
    margin-right: auto;
}

.players-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    transition: all .3s cubic-bezier(0.42, 0, 0.13, 1.55);
    background-color: #b6cdff;
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
    z-index: 1;
}

.players-icon p {
    margin-top: 5px;
}

.players-icon img {
    width: 75px;
    height: 75px;
    padding: 10px;
}

.players-icon:hover {
    animation: rotation 0.2s 0.1s linear;
}

#player2-icon {
    position: absolute;
    right: 0px;
}

.message-container {
    margin: auto;
    text-align: center;
    width: 250px;
    height: 150px;
    font-size: 2em;
    background-color: #fce9ff;
    transition: all .4s ease-in-out;
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
}

.message-container p {
    padding: 10px;
    padding-top: 35px;
    
}

/*In the message container, when game over message and winner message is shown*/
#smaller-txt {
    font-size: 20px;
}

@keyframes rotation {
    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.gameboard {
    font-family: 'Montserrat', sans-serif;
    margin: 50px auto;
    margin-bottom: 70px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 140px);
}

/*borders for gameboard*/
.b {
    border-bottom: 2px solid black;
}

.r {
    border-right: 2px solid black;
}

.game-cell {
    text-align: center;
    font-size: 110px;
    text-shadow: 3px 1px 3px rgba(150, 150, 150, 0.65);
    z-index: 1;
}



.button-container {
    text-align: center;
}

.game-button {
    font-family: 'Staatliches', cursive;
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: none;
    box-shadow: 5px 5px 5px 0px rgba(134, 133, 133, 0.623);
    transition: all .3s cubic-bezier(0.42, 0, 0.13, 1.55);
    display: none;
}

#new-round {
    margin-right: 50px;
    background-color: #84dcc6;
}

#reset {
    margin-left: 30px;
    background-color: #a099f8;
}

#new-round:hover {
    transform: scale(1.1);
    background-color: #a7e9d8;
}

#reset:hover {
    transform: scale(1.1);
    background-color: #bcb8f8;
}