/*All of the media querrys*/

@media screen and (max-width: 950px){
    .container {
        max-width: 600px;
    }

    .player-container {
        max-width: 550px;
        top: 300px;
    }

    .players-icon {
        width: 90px;
        height: 90px;
    }

    .gameboard {
        margin-top: 140px;
        margin-bottom: 50px;
    }
}



@media screen and (max-width: 659px){
    .container {
        max-width: 80%;
    }

    .character-container {
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(2, 100px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        height: 250px;
        margin-bottom: 0px;
    }

    .character-container p {
        display: none;
    }

    .players-grid-container {
        grid-template-columns: 220px;
    }

    .mark-grid-container {
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 110px;
        grid-column-gap: 5px;
    }

    .mark2-container {        
        grid-template-columns: 1fr 7px 1fr;
        grid-template-rows: repeat(1, 100px);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        justify-content: center;
    }

    .mark-dual {
        width: 70px;
        height: 70px;
        font-size: 50px;
    }
    .player-container {
        max-width: 50%;
    }

    .gameboard {
        margin-top: 220px;
        grid-template-columns: repeat(3, 110px);
        grid-template-rows: repeat(3, 110px);
    }

    .game-cell {
        font-size: 90px;
    }

    /*#single-player {
        top: 330px;
    }*/
}

@media screen and (max-width: 450px) {


    .player-count-container {
        grid-template-columns: 1fr 20px 2fr;
        grid-template-rows: 50px 100px;
        grid-column-gap: 3px;
        grid-row-gap: 3px;
        width: 100%;
    }

    .player-count-container h2 {
        font-size: 1em;
    }

    .icon, .icon img {
        width: 17vw;
        height: 9vh;
    }


    .character-container {
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(2, 100px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        height: 250px;
        margin-bottom: 0px;
    }


    .mark-container {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(1, 80px);
        width: 80%;
        margin: 40px auto;
    }

    .mark {
        width: 80px;
        height: 80px;
        font-size: 60px;
    }

    .mark-grid-container {
        grid-template-rows: 25vw;
    }

    .mark2-container {        
        grid-template-columns: 1fr 10px 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }

    .mark-dual {
        width: 16vw;
        height: 9vh;
        font-size: 0.6em;
    }
    .player-container {
        top: 460px;
    }


    .gameboard {
        margin-top: 200px;
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(3, 90px);
    }

    .game-cell {
        font-size: 70px;
    }

    #new-round {
        margin-right: 20px;
    }

}
